
@{
    Layout = null;
}

@model List<DAL.ORM.Entity.Title>

<div class="row">
	<div class="col-md-2">
		<button class="btn btn-primary btn-block" id="btnAdd">Ekle</button>
	</div>
</div>
<div class="table-container" style="margin-top:35px;">
	<table class="table table-filter">
		<tbody>
			@foreach (var item in Model)
			{
				string shortName = "";

				foreach (string itemName in @item.Name.Split(' '))
				{
					try
					{
						shortName += itemName[0];
					}
					catch (Exception)
					{
					}
				}

				<tr data-status="pagado">
					<td>
						<button type="button" class="btn btn-default btnList" id=@item.Id>
							<span class="glyphicon glyphicon-cog"></span>
						</button>
					</td>
					<td>
						<a href="javascript:;" class="star">
							<i class="glyphicon glyphicon-star"></i>
						</a>
					</td>
					<td>
						<div class="media">
							<a href="#" class="pull-left">
								<img src="~/Assets/images/png/hospital.png" width="45px" />
							</a>
							<div class="media-body">
								<span class="media-meta pull-right">@item.InsertDate</span>
								<h4 class="title">
									@item.Name
									<span class="pull-right pagado">(@shortName)</span>
								</h4>
								<p class="summary">@item.StaffType</p>
							</div>
						</div>
					</td>
				</tr>
            }
		</tbody>
	</table>
</div>

@Html.Partial("~/Views/Partial/CrudProcessPopUp.cshtml")

<script src="~/Scripts/EasyTableFilter/easyTableFilter.js"></script>

<script>
	$('#btnAdd').click(function () {
		popUpDismiss();
		crudModalShow($(this).attr('id'));
	});

	$('#btnUpdate').click(function () {
		popUpDismiss();
		crudModalShow($(this).attr('id'));
	});

	$('#btnDelete').click(function () {
		popUpDismiss();
		$.ajax({
			type: "Post",
			url: "/title/delete/?titleId=" + btnID,
			beforeSend: function () {
				
			},
			success: function (response) {
				alert("Ünvan silindi");
				location.reload();
			},
			error: function (err) {
				alert("Hata 100(Title - Titles) : " + err);
			}
		});
	});

	var modal = $('#processModal');
	var close = $('.close');
	var crudContent = $('#crud-content');

	function crudModalShow(id) {
		if (id == 'btnAdd') {
			$('.bg-line').css({ 'background-color': '#337ab7' });
			crudContent.load('@Url.Action("Add", "Title")');
		}
		else if (id == 'btnUpdate') {
			$('.bg-line').css({ 'background-color': '#5bc0de' });
			crudContent.load('@Url.Action("Update", "Title")');
		}
		else {
			$('.bg-line').css({ 'background-color': 'red' });
		}
		modal.css({ 'display': 'block' });
	}

	close.on('click', function () {
		modal.css({ 'display': 'none' });
	});

</script>
